$mainText: #436372;
$mainBg: #fcd7b6;
$secondaryBg: #a3bbc8;
$thirdlyBg: #fef7f0;
$heading: #243f4d;

%rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}
%rubik-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}
%DMS-400{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}
%DMS-500{
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}
%DMS-700{
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}